<h2>Upload a new Movie</h2>
<form action="/movie/add" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title"><br><br>

  <label>Description</label>
  <input type="text" name="description"><br><br>

  <label>Poster</label>
  <input type="file" name="photo"><br><br>

  <input type="submit" value="SAVE">
</form>